/* === RESET CSS === */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* === Variables === */
:root {
  --background-color: rgb(21, 21, 21);
  --color: rgb(255, 255, 255);

  --tran1: transform 0.15s linear, opacity 0.15s linear 0.05s,
    top 0.15s linear 0.05s; /* Hamburger */

  --tran2: transform 0.3s linear; /* Menu */
  --tran3: opacity 0.25s linear, color 0.25s linear; /* Menu item a */
}

html.preload {
  --tran1: 0;
  --tran2: 0;
  --tran3: 0;
}

/* === Typography === */
html {
  font-size: 16px;
  /* font-size: 2vmin; */
  font-family: "Ubuntu";
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 0.7rem; /* 1rem */
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

.hide {
  display: none !important;
  opacity: 0 !important;
}

/* === body === */

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

/* === lazdy loading === */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fade-in {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}
/* === app === */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  width: 100%;
  height: clamp(50px, calc(8vh + 30px), 300px);
  position: relative;
}

.app__bg {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #212121;
  z-index: -1;
}

.app__video {
  /* 16 / 9 */
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  /* 9 / 16 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 900;
  transform: translate(-50%, -50%) scale(1.05);
}

.app__bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 150vh; */
  content: "";
  background: rgba(0, 0, 0, 0.4);
}

.typing__wrapper {
}

.typing__text {
  z-index: -1;
  /* width: 100%; */
  display: inline-block;
  font-size: 10vw;
  position: relative;
  min-height: 3rem;
  text-shadow: 2px 2px 2px black;
  /* word-break: break-word; */
}

.typing__text::-moz-selection {
  background-color: transparent;
}
.typing__text::selection {
  background-color: transparent;
}

.typing__bar {
  display: inline-block;

  margin-left: 3px;
  width: 5px;
  height: 10vw;
  background: #ddd;

  animation: blink 0.5s linear 0s infinite alternate both;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  padding: 0 30px 0 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
  /* background: red; */
  position: relative;
  z-index: 901;
}

.nav__logo {
  position: relative;
  border-radius: 50%;
  font-size: 1.3rem;
  text-shadow: -3px -3px 0px rgb(40, 40, 40);
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
  max-width: 140px;
}

.nav__hamburger {
  position: relative;
  z-index: 100;
  width: 40px;
  height: 32px;
  /* background: red; */
  overflow: hidden;
}

.nav__hamburger span {
  transform-origin: 50% 50%;
  transition: var(--tran1);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid white;
  background: white;
  width: 100%;
  transform: none;
  will-change: transform;
}

.nav__hamburger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav__hamburger span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
}

.nav__hamburger.active span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.nav__hamburger.active span:nth-of-type(2) {
  transform: translate(100%, -50%);
  opacity: 0;
}
.nav__hamburger.active span:nth-of-type(3) {
  top: 50%;

  transform: translateY(-50%) rotate(45deg);
}

.nav__menu {
  list-style-type: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  /* opacity: 0; */
  display: flex;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  will-change: transform;
  transition: var(--tran2);
  /* transition: transform 0s; */
  transform: translateY(125%);
  opacity: 0;
}

.nav__menu.active {
  opacity: 1;
  transform: translateY(0);
}
.nav__menu-item {
  font-size: 1.5rem;
}

#nav__menu-flags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.nav__menu-flag {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.nav__menu-flag.active {
  border: 5px solid hsl(192, 255%, 50%);
}

.nav__menu-flag__wrapper {
  pointer-events: none;
  overflow: hidden;
}

.nav__menu-flag__wrapper img {
  pointer-events: none;
  display: block;
  width: 100%;
  max-height: 100%;
}

.nav__menu-item a {
  display: block;
  color: #ddd;
  opacity: 0.58;
  text-decoration: none;
  transition: var(--tran3);
  font-weight: bold;
  /* margin: 30px 0 30px 0; */
  /* background: black; */
}
.nav__menu-item a:hover {
  opacity: 1;
}
.nav__menu-item.active a {
  opacity: 1;
  color: rgba(30, 205, 243, 1);
}

section {
  padding: 0 30px 0 30px;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__notfound {
  text-shadow: 1.5px 1.5px 3px black;
  font-size: 8vmin !important;
}

.rooms__wrapper {
  margin: 3vh 0;
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1rem 1rem;
}

.room {
  overflow: hidden;
  width: 300px;
  height: 400px;
  /* background: rgba(255, 255, 255, 0.8); */
  border: 3px solid #ddd;
  border-radius: 22px;
  opacity: 0.7;
  will-change: transform, opacity;
  transition: opacity linear 0.3s, transform linear 0.2s;
  position: relative;
}

.room:hover {
  opacity: 1;
}

.room img {
  display: block;
  z-index: -1;
  /* object-fit: contain; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  padding: 10px;
  transition: transform 0.3s linear;
}

.room:hover img {
  /* transform: rotateY(90deg); */
  /* opacity: 0; */
}

.room::after {
  content: attr(data-name);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100%);
  height: calc(100%);
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.81);
  /* z-index: 1; */
  opacity: 0;
  transition: transform 0.21s linear, opacity 0.15s linear;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -100%);
}

.room:hover::after {
  /* transform: translate(-50%, -50%) rotateY(180deg) scaleX(-1); */
  transform: translate(-50%, 0);

  opacity: 1;
}

.room__book {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* Acordeons */
.acordeons__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.acordeon {
  width: 100%;
  border-bottom: 6px solid #ccc;
  /* background: black; */
  position: relative;
}

.acordeon:last-of-type {
  border: 0;
}

.acordeons__title {
  margin: 1.75rem 0;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
}

.acordeon__question {
  background: rgba(52, 52, 52, 0.8);
  padding: 2rem;
  font-size: 1.45rem;
  opacity: 0.7;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.3s linear;
}

.acordeon__question h3::-moz-selection {
  background-color: transparent;
}
.acordeon__question h3::selection {
  background-color: transparent;
}

.acordeon__question h3 {
  pointer-events: none;
}

.acordeon__question:hover {
  cursor: pointer;
  opacity: 1;
}

.acordeon__answer {
  position: absolute;
  /* display: none; */
  padding: 30px 15px;
  background: rgba(21, 21, 21, 0.8);
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.2s linear;
  font-size: 1.3rem;
  z-index: -1;
  text-shadow: 2px 2px 2px black;
}

.acordeon__answer.show {
  position: relative;
  opacity: 1;
  transform: translateY(0%);
  /* display: block; */
}

/* Contact form */
.contact__form {
  /* background: green; */
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.7rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border-radius: 30px;
}

.contact__form input[type="text"],
.contact__form input[type="email"] {
  width: 80%;
  border: 0;
  outline: 0;
  resize: none;
  padding: 0.5rem 1rem;
}

textarea {
  width: 80%;
  border: 0;
  outline: 0;
  min-height: 10rem;
  padding: 0.5rem 1rem;
}

.contact__form input[type="submit"] {
  /* border: 0;
  outline: 0;
  padding: .6rem 1.2rem;
  text-transform: uppercase; */
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  color: #212121;
  background: #ddd;
  opacity: 0.7;
  transition: opacity 0.15s linear;
}

.contact__form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 1;
}

.contact__info {
  text-shadow: 2px 2px 2px black;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 3rem;
}

@media screen and (min-width: 1000px) {
  p {
    font-size: 1rem; /* 1rem */
  }

  nav {
    padding: 0 50px 0 50px;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__menu {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background: transparent;
    gap: 30px;
    width: auto;
    height: auto;

    width: clamp(auto, 40%, 800px);
  }

  .nav__menu-item {
    font-size: 1.25rem;
  }

  #nav__menu-flags {
    width: 13.3%;
  }

  .rooms__wrapper {
    width: 80%;
  }
}

/* Modals */
#modals {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 999;
}

/* Cookie modal */

#cookie-modal {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  /* margin: 30px 20px; */
  background: rgba(0, 0, 0, 0.56);
  /* background: red; */
  color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 999;
  /* transform: translateY(-50%); */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  color: #212121;
  background: #ddd;
  opacity: 0.7;
  transition: opacity 0.15s linear;
}

.cookie-modal__content {
  font-size: 1.7rem;
  width: 25%;
  text-align: center;
  /* background: blue; */
}

#cookie-modal__button {
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}
