* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Variables */
:root {
  /* Colors */
  --background-color: #212121;
  --color: white;

  /* Header */
  --header-height: 60px;

  /* Footer */
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--color);
}

/* ==== utility ==== */
.hide {
  display: none !important;
}

.row.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: wheat;
}

ul {
  list-style-type: none !important;
}
/* ==== typography ==== */
html {
  font-size: 14px !important;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

/* ==== preloader ==== */
.preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ==== preloader-logo ==== */

@keyframes preloader-slide-left {
  0% {
    opacity: 0;
    left: -100%;
    transform: none;
  }

  100% {
    opacity: 1;
    left: 50%;
    transform: translateX(-70%);
  }
}
@keyframes preloader-slide-right {
  0% {
    opacity: 0;
    left: 100%;
    transform: none;
  }

  100% {
    opacity: 1;
    left: 50%;
    transform: translateX(0%);
  }
}

.preloader-logo-wrapper {
  /* background: red; */
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  min-height: calc(2 * 4.2rem);
  /* margin-top: 15vh; */
  margin-bottom: 8vh;
}
.preloader-logo-title {
  font-size: 4.2rem;
  position: absolute;
  transform: translateX(-50%);
}

.preloader-logo-title:nth-of-type(1) {
  top: 0;
  animation: preloader-slide-left 0.5s ease-out 0.1s 1 both;
}
.preloader-logo-title:nth-of-type(2) {
  bottom: 0;
  animation: preloader-slide-right 0.5s ease-out 0.1s 1 both;
}

.preloader-bar-wrapper {
  margin-bottom: 15vh;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  max-width: 300px;
  height: 18px;
  position: relative;
  overflow: hidden;
}

.preloader-logo-text {
  margin-bottom: 1.7vh;
  font-size: 1.4rem;
}

.preloader-bar {
  transition: width 0.5s linear;
  width: 0%;
  height: 100%;
  background: white;
}

/* ==== app ==== */
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* ====   header ==== */
header {
  width: 100%;
  background: rgba(21, 21, 21, 0.5);
  padding: 20px 0 10px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
}
/* ====     hamburger ==== */
.hamburger {
  position: relative;
  z-index: 100;
  width: 24px;
  height: 20px;
  overflow: hidden;
}

.hamburger-bar {
  pointer-events: none;
  display: block;
  background: white;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.hamburger-bar:nth-last-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-bar:nth-last-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
}

.hamburger.active .hamburger-bar:nth-last-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger.active .hamburger-bar:nth-last-of-type(2) {
  left: 100%;
  opacity: 0;
}
.hamburger.active .hamburger-bar:nth-last-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.hamburger-bar-transition-fadeIn {
  transition: left 0.2s, opacity 0.15s, top 0.2s 0.15s, transform 0.2s 0.25s;
}
.hamburger-bar-transition-fadeOut {
  transition: transform 0.15s, top 0.2s 0.1s, left 0.2s 0.15s,
    opacity 0.15s 0.1s;
}

/* ====     logo-wrapper ==== */
.logo-wrapper {
  /* background: green; */
}
/* ====     nav ==== */

/* ====   main ==== */
main {
  padding: 0 15px;
}
/* ====     section ==== */
section {
  flex: 1;
  /* background: orange; */
}

/* media queries */

@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 250px) {
  h1 {
    font-size: 1.05em;
  }
}

/* ==== modals ==== */
