/* === RESET CSS === */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* === Variables === */
:root {
  --background-color: rgb(21, 21, 21);
  --color: rgb(255, 255, 255);

  --tran1: transform 0.15s linear, opacity 0.15s linear 0.05s,
    top 0.15s linear 0.05s; /* Hamburger */

  --tran2: transform 0.3s linear; /* Menu */
  --tran3: opacity 0.25s linear, color 0.25s linear; /* Menu item a */
}

html.preload {
  --tran1: 0;
  --tran2: 0;
  --tran3: 0;
}

/* === Typography === */
html {
  font-size: 16px;
  font-family: "Ubuntu";
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 0.7rem; /* 1rem */
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

/* === body === */

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

/* === app === */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header__bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #212121;
  z-index: -1;
}

.header__video {
  /* 16 / 9 */
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  /* 9 / 16 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.4);
}

/* .header__logo {
  display: block;
  font-size: 5rem;
  position: relative;
  min-height: 5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.header__logo::-moz-selection {
  background-color: transparent;
}
.header__logo::selection {
  background-color: transparent;
}
.header__logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5%;
  width: 5px;
  height: 100%;
  background: #ddd;
  animation: blink 0.5s linear 0s infinite alternate both;
} */

@keyframes blink {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  padding: 0 30px 0 30px;

  height: clamp(50px, calc(8vh + 30px), 300px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.22);
  text-transform: uppercase;

  position: relative;
}

/* .nav__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  z-index: -1;
  box-shadow: 0px 0px 5px #ddd;
  backdrop-filter: blur(8px);
} */

.nav__logo {
  position: relative;
  border-radius: 50%;
  font-size: 1.3rem;
  text-shadow: -3px -3px 0px rgb(40, 40, 40);
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
  max-width: 140px;
}

.nav__hamburger {
  position: relative;
  z-index: 100;
  width: 40px;
  height: 32px;
  /* background: red; */
  overflow: hidden;
}

.nav__hamburger span {
  transform-origin: 50% 50%;
  /*  */

  transition: var(--tran1);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid white;
  width: 100%;
  transform: none;
  will-change: transform;
}

.nav__hamburger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav__hamburger span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
}

.nav__hamburger.active span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.nav__hamburger.active span:nth-of-type(2) {
  transform: translate(100%, -50%);
  opacity: 0;
}
.nav__hamburger.active span:nth-of-type(3) {
  top: 50%;

  transform: translateY(-50%) rotate(45deg);
}

.nav__menu {
  list-style-type: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  /* opacity: 0; */
  display: flex;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  will-change: transform;
  transition: var(--tran2);
  /* transition: transform 0s; */
  transform: translateY(125%);
  opacity: 0;
}

.nav__menu.active {
  opacity: 1;
  transform: translateY(0);
}
.nav__menu-item {
  font-size: 1.5rem;
}

#nav__menu-flags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.nav__menu-flag {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.nav__menu-flag.active {
  border: 5px solid hsl(192, 255%, 50%);
}

.nav__menu-flag__wrapper {
  pointer-events: none;
  overflow: hidden;
}

.nav__menu-flag__wrapper img {
  pointer-events: none;
  display: block;
  width: 100%;
  max-height: 100%;
}

.nav__menu-item a {
  display: block;
  color: #ddd;
  opacity: 0.58;
  text-decoration: none;
  transition: var(--tran3);
  font-weight: bold;
  /* margin: 30px 0 30px 0; */
  /* background: black; */
}
.nav__menu-item a:hover {
  opacity: 1;
}
.nav__menu-item.active a {
  opacity: 1;
  color: rgba(30, 205, 243, 1);
}

@media screen and (min-width: 1000px) {
  p {
    font-size: 1rem; /* 1rem */
  }

  nav {
    padding: 0 50px 0 50px;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__menu {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    transform: none;
    opacity: 1;
    display: flex;
    flex-direction: row;
    background: transparent;
    gap: 30px;
    width: auto;
    height: auto;

    width: clamp(auto, 40%, 800px);
  }

  .nav__menu-item {
    font-size: 1.25rem;
  }
}

/* Modals */
#modals {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 999;
}

/* Cookie modal */

#cookie-modal {
  width: 100%;
  padding: 30px 0;
  /* margin: 30px 20px; */
  background: rgba(0, 0, 0, 0.56);
  color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(8px);
  /* transform: translateY(-50%); */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  color: #212121;
  background: #ddd;
  opacity: 0.7;
  transition: opacity 0.15s linear;
}

.cookie-modal__content {
  width: 50%;
}

button:hover {
  opacity: 1;
}
