/* === RESET CSS === */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* === Variables === */
:root {
  --background-color: rgb(21, 21, 21);
  --color: rgb(255, 255, 255);
}
/* === Typography === */
html {
  font-size: 16px;
  font-family: "Ubuntu";
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

/* === body === */

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

/* === app === */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y proximity;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.header__bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #212121;
  z-index: -1;
}

.header__video {
  /* 16 / 9 */
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  /* 9 / 16 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.header__bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.4);
}

.header__logo {
  font-size: 5rem;
}
